@font-face {
  font-family: 'Spectral SC';
  src: url(../fonts/SpectralSC-Bold.ttf);
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url(../fonts/OpenSans-Italic.ttf);
}

*{
  margin:0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

button,
button:active,
button:focus,
select {
  outline: none !important;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #2e2f22;
  font-weight: normal;
  min-width: 1240px;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper-content {
  width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;  
}


/*HEADER*/
.page-header {
  position: relative;
}

.page-header .wrapper-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.logo {
  margin-top: 4px;
}

.header-nav {
  margin-left: auto;
}

.nav-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-top: 33px;
  list-style: none;  
}

.item {
  margin-left: 83px;
}

.nav-link {
  font-size: 18px;
  line-height: 25px;
  color: #2e2f22;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #acc5d8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-poster {
  width: 100%;
  height: auto;
}

/*SECTION .ALL-ARTICLES*/
.articles {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 80px;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 43px;
}

.section-title {
  font-family: 'Spectral SC', serif;
  font-size: 36px;
  font-weight: 700;
  color: #2e2f22;
  line-height: 65px;
}

.select {
  position: relative;
  margin-left: 30px;
}

.select-article {
  height: 100%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  line-height: 22px;
  background: url(../img/Arrow-down.png) 90% 50%/20px 20px no-repeat #d7d1c9;
  padding: 12px 74px 12px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.select-article:hover {
  background-color: #e8e6d8;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.articles-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-item {
  width: 387px;
  margin-right: 19px;
  margin-bottom: 62px;
}

.article-item:nth-of-type(3n),
.article-item:nth-of-type(5) {
  margin-right: 0;
}

.hidden {
  display: none;
}

.blog-post {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-decoration: none;
  color: #2e2f22;
  height: 100%;
}

.img-post {
  margin-bottom: 27px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.title-post {
  font-family: 'Spectral SC', serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 8px;
}

.text {
  margin-bottom: 12px;
}

.wrapper-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  opacity: 70%;
}

.tag {
  color: #2e2f22;
}

.article-item:nth-child(4),
.article-item:nth-child(5) {
  width: 590px;
  min-height: 552px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.article-item:nth-child(4) .blog-post,
.article-item:nth-child(5) .blog-post {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 61px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.article-item:nth-child(4) .img-post,
.article-item:nth-child(5) .img-post {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.article-item:nth-child(4) .title-post,
.article-item:nth-child(5) .title-post {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.article-item:nth-child(4) .text,
.article-item:nth-child(5) .text {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.article-item:nth-child(4) .tag,
.article-item:nth-child(5) .tag,
.article-item:nth-child(4) .date,
.article-item:nth-child(5) .date {
  color: #ffffff;  
}

.section-button {
  display: inline-block;
  vertical-align: middle;
  padding: 12px 58px;
  margin: 0 auto;
  margin-top: 40px;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  color: #202117;
  border: 1px solid #202117;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section-button:hover {
  background-color: #d7d1c9;
  border: 1px solid #d7d1c9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.img-post:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.article-item:nth-child(4):hover,
.article-item:nth-child(5):hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*ABOUT*/
.about {
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
}

.author-photo {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-right: 40px;
  border-radius: 15px;
}

.wrapper-text {
  margin-top: 40px;
}

.about .text {
  padding-right: 75px;
  margin-bottom: 25px;
}

.href-form {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #2e2f22;
}

.ann-quote {
  font-family: 'Open Sans Italic', sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  position: relative;
  margin: 0;
  margin-top: 115px;
}

.ann-quote:before {
  content: '';
  display: block;
  width: 3px;
  height: calc(100% + 50px);
  background-color: #D7D1C9;
  position: absolute;
  left: -23px;
  top: -25px;
}


/*PORTFOLIO*/
.portfolio {
  text-align: center;
  margin-bottom: 85px;
}

.portfolio-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px;
}

.item-portfolio {
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.blog-html {
  background: url(../img/blog-html.jpg) no-repeat;
  width: 387px;
  height: 525px;
  background-size: cover;
}

.lnk-magazine {
  background: url(../img/Kiss.jpg) no-repeat;
  width: 387px;
  height: 525px;
  color: #ffffff;
  background-size: cover;
}

.outline {
  text-shadow: black 0.5px 0.5px 0, black -0.5px -0.5px 0, 
                 black -0.5px 0.5px 0, black 0.5px -0.5px 0;
}

.tl-magazin {
  background: url(../img/Job-tips.jpg) no-repeat;
  width: 387px;
  height: 525px;
  background-size: cover
}

.portfolio-descript h3 {
  font-size: 20px;
}


.portfolio-descript {
  text-align: center;
  margin-top: 38%;
}

.title-topic {
  color: #2e2f22;
  font-family: 'Spectral SC', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30.44px;
}

.title-center {
  color: #fff;
  font-family: 'Spectral SC', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30.44px;
}

.title-article {
  margin-top: 45px;
  margin-bottom: 20px;
  font-family: 'Spectral SC', serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6em;
}
.button-uppercase {
  display: inline-block;
  padding: 12px 50px;
  margin-top: 105px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #2e2f22;
  text-transform: uppercase; 
}


/*CONTACT*/
.write-me {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 85px;
}

.feedback-form {
  background-image: url(../img/form-bg.jpg);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-size: cover;
  width: 996px;
  padding: 52px 80px 58px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 44px;
}

.input-wrapper {
  width: 407px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-top: 0;
}

.input-wrapper-big {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 0;
}

.input-label {
  font-family: 'Spectral SC', Times New Roman, serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 12px;
}

.text-input {
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  color: #202117B3;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #202117;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.text-input:hover,
.text-input:focus,
.text-field:hover,
.text-field:focus {
  background-color: white;
  border-color: #000;
  color: black;
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.text-field {
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  color: #202117B3;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #202117;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  min-height: 293px;
  resize: none;
}

.feedback-form .section-button {
  background-color: transparent;
  text-transform: uppercase;
  margin-top: 0px;
}

/*FOOTER*/
footer {
  background-color: #D7D1C9;
  width: 100%;
  min-width: 1200px;
  height: 181px;
}

.wrapper-ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  width: 1200px;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper-ref a {
  margin: 0 60px 15px 60px;
  text-decoration: none;
  color: #2e2f22;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}


/*ARTICLE.HTML*/

/*HEADER*/


